{% extends 'main.html' %}
{% block body %}
<div class="col-md-12 content-section animated fadeInUp pd-4" !important style="margin-top: 80px">
  <header class="text-center mb-5">
    <h1> </h1>
  </header>
  <main class="justify-content">
    <p align="justify">
      Somos un grupo de trabajo con una meta clara, proponer soluciones reales para problemas reales. ¿Qué hemos hecho? Desarrollar un
      aplicativo web basado en técnicas de aprendizaje profundo (AI), capaz de apoyar en los diagnósticos clínicos por medio del análisis digital de radiografías, para la predicción de COVID-19.
    </p>
    <h3 class=" mb-4">Integrantes</h3>
    <div>
        <div class="article-metadata mb-3">
            <h4>Christian Tutivén</h4>
            <p align="justify">
                I`m a teacher and an Entrepreneur in constant learning. In search of generating a positive impact by sharing and applying the knowledge generated in work, studies and in life. One of my goals is to make my country considered one of the countries with the highest technology development worldwide. I love technology and I have experience in data science, machine learning, control, electricity, robotics, telecommunications, design of mobile applications with acquired skills in administration, competitive analysis, resource and project management, implementation of processes and tools focused on improving service/product. Right now, I am working on autonomous vehicle development. I consider myself someone who achieves their goals, as I believe that achievements are the results of decisions taken and the goals that each one sets.
            </p>
            <div class="d-flex justify-content-start mb-3">
              <a target="_blank" href="https://ec.linkedin.com/in/christian-tutiven" class="mx-2"
                style="text-decoration:none;color:white"><i class="fab fa-linkedin"></i></a>
              <a target="_blank" href="https://www.instagram.com/c_tutiven" class="mx-2"
                style="text-decoration:none;color:white"><i class="fab fa-instagram"></i></a>
              <a target="_blank" href="https://twitter.com/c_tutiven" class="mx-2"
                style="text-decoration:none;color:white;"><i class="fab fa-twitter"></i></a>
            </div>
          </div>

      <div class="article-metadata mb-3">
        <h4>Andrés Torres</h4>
        <p align="justify">
            Emprendedor y visionario. Amante del sonido desde su exxplicación física
            hasta la producción de esta. Intereses diversos como la Mecatrónica,
            Diseño Digital, Web Designer, Música, entre otros.
        </p>
        <div class="d-flex justify-content-start mb-3">
          <a target="_blank" href="https://www.facebook.com/andriu.spetsnaz" class="mx-2"
            style="text-decoration:none;color:white"><i class="fab fa-facebook"></i></a>
          <a target="_blank" href="https://www.instagram.com/andre.1313" class="mx-2"
            style="text-decoration:none;color:white"><i class="fab fa-instagram"></i></a>
            <a target="_blank" href="https://www.linkedin.com/in/jamil-andres-torres-brunes-0b20631a5/" class="mx-2"
                style="text-decoration:none;color:white"><i class="fab fa-linkedin"></i></a>
        </div>
      </div>
      <div class="article-metadata mb-3">
        <h4>Ángel Encalada</h4>
        <p align="justify">
          Estudiante de Ingeniería Mecatrónica e Investigador. Amante de todo lo relacionado con la robótica, computación, mecánica y la música. Con experiencia en temas de Machine & Deep Learning aplicada a predicción de fallos y estudio de patrones movilidad a nivel intra-urbano, modelamiento computacional aplicado a celdas de combustible (energías renovables) y programación de vehículos no tripulados aéreos. Creyente de que todo lo que te propongas lo puedes lograr, siempre y cuando des todo de ti y lo hagas con pasión y convicción.
        </p>
        <div class="d-flex justify-content-start mb-3">
          <a target="_blank" href="https://twitter.com/angelencalada19" class="mx-2"
            style="text-decoration:none;color:white"><i class="fab fa-twitter"></i></a>
          <a target="_blank" href="https://www.instagram.com/aencaladad/?hl=es-la" class="mx-2"
            style="text-decoration:none;color:white"><i class="fab fa-instagram"></i></a>
            <a target="_blank" href="https://www.linkedin.com/in/%C3%A1ngel-encalada-d%C3%A1vila-17707319a/" class="mx-2"
            style="text-decoration:none;color:white"><i class="fab fa-linkedin"></i></a>
        </div>
      </div>
    </div>
  </main>
</div>
<script src="https://kit.fontawesome.com/c6a46d5ed8.js" crossorigin="anonymous"></script>

{% endblock %}
