{% extends 'main.html' %}
{% block body %}
<div class="col-md-12 content-section animated fadeInUp pd-4" !important>
  <img style="height: 300px; width: 300px; display: block; margin-left: auto; margin-right: auto; margin-top: 75px" src="../static/images/virus.png" alt="Card image">
  <main class="justify-content">
    <p align="justify">
      Ahora que estamos viviendo esta pandemia llamada coronavirus o COVID-19, alrededor del mundo, es cuando más se requiere de soluciones que respondan a las necesidades constantemente emergentes. Una de las problemáticas que hemos evidenciado es la ausencia de métodos alternativos, rápidos y eficaces, aparte de la prueba médica vigente, para la detección de COVID-19 en pacientes.
    </p>
    <p align="justify">
      Esta fue una de las razones por las que se surgió <strong>“covid-19.ai detection”</strong>, una herramienta de ayuda y apoyo para el sistema integral de salud, la cual se basa en dos puntos: (1) usar inteligencia artificial o técnicas de aprendizaje profundo para predecir la presencia de COVID-19 y (2) usar radiografías o rayos X de la zona pulmonar como información de entrada para la predicción.
    </p>
    <p align = 'justify'>
      Queremos aclarar que este no es un estudio científicamente riguroso ni será publicando a través de una revista científica. Ha sido diseñada esta herramienta con la finalidad de que en un futuro pueda mejorarse de muchas formas, incluyendo nuevas opciones de menú, enriqueciendo la base de datos de radiografías, etc.
    </p>
    <p align = 'justify'>
    <br></br>  
    </p>
    <p align = 'justify'>
      <strong>Christian, Andrés, Ángel y Oswaldo</strong>
    </p>
    <p align = 'justify'>
      EQUIPO DESARROLLADOR
    </p>
</main>
</div>
<script src="https://kit.fontawesome.com/c6a46d5ed8.js" crossorigin="anonymous"></script>

{% endblock %}